@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 285 100% 98%; 
  --foreground: 222 39% 11%;

  --card: 0 0% 100%;
  --card-foreground: 222 39% 11%;

  --primary: 345 70% 80%;
  --secondary: 345 70% 80%;

  --muted: 285 100% 96%;
  --muted-foreground: 222 39% 25%;

  --border: 285 100% 90%;
  --input: 285 100% 90%;
  --ring: 222 39% 11%;

  --radius: 0.5rem;
}

.dark {
  --background: 220 20% 8%;
  --foreground: 0 0% 98%;

  --card: 220 20% 10%;
  --card-foreground: 0 0% 98%;

  --primary: 345 70% 80%;
  --secondary: 345 70% 80%;

  --muted: 220 20% 12%;
  --muted-foreground: 0 0% 80%;

  --border: 220 20% 20%;
  --input: 220 20% 20%;
  --ring: 0 0% 98%;
}